{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
{% for project in projects %}
    <div class="col-sm-4" align="center" style="margin-top:20px;">
        <div class="card h-100 mb-3" style="max-width: 20rem;">
          <a style="margin-left:20px;float:left;" class="text-danger" href="/delete/{{ project._id }}"><span class="fa fa-trash"> delete</span></a>
          <a style="margin-left:260px;float:right;" class="text-info" href="/edit/{{ project._id }}"><span class="fa fa-pencil"></span> edit</a>
          <h3 class="card-header">{{ project.name }}</h3>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <h6 class="card-subtitle text-muted">Support card subtitle</h6>
          </div>
          <img style="height: 200px; width: 100%; display: block;" src="{{ project.img_url }}" alt="Card image">
          <div class="card-body">
            <p class="card-text">{{ project.description }}</p>
          </div>
        </div>
    </div>

        {% if loop.index % 3 == 0 %}
        <div class="w-100"></div>
        {% endif %}
{% endfor %}
    </div>
</div>
{% endblock %}
